.navbar {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: #fff;
    padding: 10px;
    background-color: #2c3e50;
    border-radius: 9px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #1a252f;
  }